@charset "utf-8";
body {
    background-color: white; 
    color: black; 
    font-family: inherit; 
    margin: 0;
    padding: 0;
    max-width: 270px; /* 表示領域を小さくする */
    margin: auto; /* 中央に配置 */
}

@media (max-width: 270px) {
    body {
        padding: 10px; 
    }
}
